.customNavbar {
  background: linear-gradient(100deg, rgb(51, 129, 218), rgb(232, 146, 92));
  background-size: 100% 200%;
  animation: AnimationName 9s ease infinite;

  img {
    max-height: 50px;
  }
  .navbar-brand {
    color: rgb(238, 57, 57);
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(248, 22, 109)) !important;
  }

  a {
    margin-right: 8px;
    font-weight: bold;
    text-decoration: none !important;
    color: rgb(163, 36, 36) !important;
  }
}
