.productCard {
  min-height: 100px;
  max-width: 400px;
  border: solid 1px lightgrey;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightgrey;
  margin: 20px auto;
  background-color: rgba(249, 249, 249, 0.831);
}
.image1 {
  min-height: 50px;
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
}
.row {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}
